body{
    display: flex;
    flex-direction: column;
}
.buttonsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.score{
    margin-top: 10px;
    border: 2px black solid;
    display: flex;
    align-self: center;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}
