body{
    margin: 0;
}
.wrapper{
    background-color: pink;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.buttonsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.result,.score{
    margin-top: 10px;
    display: flex;
    align-self: center;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}
